
#content

  .container

    %h2= t('g.contact_us')

    .map

      -# = image_tag 'map.png'
      = image_tag 'sfbay.jpg'

      %h3 By Mail

      %ul
        %li.address P. O. Box 193023
        %li.address San Francisco, CA 94119
        -# %li.phone +65XX XXXX XXXX

    .contact-methods

      %p Contact us to discuss your project requirements and to get a quote.
      %p 
        We are best reached by email. You may use the form below to send us a message directly to 
        = image_contact

      %h3 By Phone

      %ul
        %li +1 415 948 0368

      -# %h3 By Email

      %div
      
        %form
          %fieldset
            -# %legend Send your email
            %input{:placeholder => "Name", :type => "text"}
            %input{:placeholder => "Email", :type => "text"}
            %input{:placeholder => "Subject", :type => "text"}
            %textarea
              :preserve
            %input{:type => "submit", :value => t('g.send_email')}

      

      