

#content
  #slider
    .container
      %h2
        Computational Arts Corp.
        %span is a software consulting company
  #company_preview
    .container
      %div
        %h2 Computational Arts Company is a software consulting company.
        %em We are a web development shop specializing in full-stack ruby on rails application.
      %a.button{:href => '#'} Contact us
  .container
    %ul.workflow
      %li.semantic
        %a{:href => '#'}
          %strong Semantic
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      %li.w3c-valid
        %a{:href => '#'}
          %strong W3C Valid
        %p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      %li.optimized-speed
        %a{:href => '#'}
          %strong Optimized Speed
        %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      %li.cross-browser
        %a{:href => '#'}
          %strong Cross Browser
        %p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %li.responsive
        %a{:href => '#'}
          %strong Responsive
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
