


%h1 Supported Ruby on Rails hosting

%p We provide supposted ruby on rails hosting.

%p What does `supported` mean? If you get stuck at any step in your development process - from coding to testing to deployment - we can help you out on an individual basis.

%p Note: the suppost is charged on specialist' hour basis.

%p= link_to t('g.request_a_quote'), contact_path