
#content
  .container
    %h2 Portfolio
    %ul
      %li
        %img{:alt => "project name", :src => "http://www.placehold.it/280x200"}
        %strong Project Title 1
        %em Featured Project Description 1
      %li
        %img{:alt => "project name", :src => "http://www.placehold.it/280x200"}
        %strong Project Title 2
        %em Featured Project Description 2
      %li
        %img{:alt => "project name", :src => "http://www.placehold.it/280x200"}
        %strong Project Title 3
        %em Featured Project Description 3
      %li
        %img{:alt => "project name", :src => "http://www.placehold.it/280x200"}
        %strong Project Title 4
        %em Featured Project Description 4
      %li
        %img{:alt => "project name", :src => "http://www.placehold.it/280x200"}
        %strong Project Title 5
        %em Featured Project Description 5
      %li
        %img{:alt => "project name", :src => "http://www.placehold.it/280x200"}
        %strong Project Title 6
        %em Featured Project Description 6
