
#content
  .container
    %h2 Services



    %h3 Tutoring & Support

    %p
      If you are a developer and got stuck on a particular project, we can provide tutoring and support. We help you push your project over a bump, 
      at the same time as increasing your knowledge of the stack. You save time and learn - a win-win situation.

    %p We provide support for the following technologies

    %ul
      %li Ruby on Rails
      %li Devops Chef
      %li General Linux Admin
      %li Apache HTTP server
      %li Deploying ready apps
      %li Amazon Web Services (AWS)



    %h3 Supported Hosting

    %p Confused by the array of hosting options? We provide Ruby hosting at a reasonable rate.

    %p Our infrastructure provisioning tools are pure Ruby (Devops Chef, to be exact). Internally we use Amazon hosting and can setup Rackspace hosting for your organization upon request.

    %p
      = link_to t('g.contact_us').capitalize, contact_path
      for a quote.



    %h3 Supported Development

    %p Having trouble deploying your brand-new Rails app? We offer supporting role in that, helping you overcome common and uncommon obstacles.

    %p Contact us for hourly rates on supported app deployment.

    %h3 Visual Design


    %h3 Web Development
    %p Software development is our core specialty. We can built custom software to fit your company needs.
    %p= link_to t('g.request_a_quote'), contact_path