<!DOCTYPE html>
<html>
<head>
<title>Computational Arts Corporation - Services</title>
<link rel="stylesheet" type="text/css" href="assets/styles/reset-min.css" />
	<link rel="stylesheet" type="text/css" href="assets/styles/default.css"/>
</head>

<body id="services">
	<!-- HEADER START -->
	<div id="header">
		<div class="container">
			<h1>Computatinal Arts Corporation</h1>
			<a href="index.html"><img src="assets/images/logo.png" alt="logo - Computaional Arts Corp."/></a>
			<ul id="main-menu">
				<li class="first"><a href="about.html">About</a></li>
				<li><a href="team.html">Team</a></li>
				<li><a href="portfolio.html">Portfolio</a></li>
				<li class="active"><a href="services.html">Services</a></li>
				<li class="last"><a href="contact.html">Contact</a></li>
			</ul>
		</div>
	</div>
	<!-- HEADER END -->
	
	<!-- CONTENT START -->
	<div id="content">
		<h2><span class="container">Services</span></h2>
		<div class="container">
			<div class="service web-design">
				<a href="#"><strong>Web&nbsp;Design</strong></a>
				<div><em>Subhead goes here</em>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p></div>
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
					<li>Ut enim ad minim veniam,</li>
					<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum,</li>
					<li> Excepteur sint occaecat cupidatat non proident,</li>
					<li>Lorem ipsum dolor sit amet,</li>
				</ul>
			</div>
			<div class="service web-development">
				<a href="#"><strong>Web&nbsp;Development</strong></a>
				<div><em>Subhead goes here</em>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p></div>
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
					<li>Ut enim ad minim veniam,</li>
					<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum,</li>
					<li> Excepteur sint occaecat cupidatat non proident,</li>
					<li>Lorem ipsum dolor sit amet,</li>
				</ul>
			</div>
			<div class="service site-maintenance">
				<a href="#"><strong>Site&nbsp;Maintenance</strong></a>
				<div><em>Subhead goes here</em>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p></div>
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
					<li>Ut enim ad minim veniam,</li>
					<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum,</li>
					<li> Excepteur sint occaecat cupidatat non proident,</li>
					<li>Lorem ipsum dolor sit amet,</li>
				</ul>
			</div>
			<div class="service site-architecture">
				<a href="#"><strong>Site&nbsp;Architecture</strong></a>
				<div><em>Subhead goes here</em>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p></div>
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
					<li>Ut enim ad minim veniam,</li>
					<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum,</li>
					<li> Excepteur sint occaecat cupidatat non proident,</li>
					<li>Lorem ipsum dolor sit amet,</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- CONTENT END -->

	<!-- FOOTER START -->
	<div id="footer">
		<div id="posts">
			<div class="container">
				<div id="popular-posts">
					<h2><span>Most Popular Blog Post:</span></h2>
					<ul class="posts">
						<li>
							<img src="http://www.placehold.it/45x45" alt="image"/>
							<div class="post-info">
								<span class="title">Being a Programmer</span>
								<span class="discription">Lorem ipsum dolor sit...</span>
								<em class="post-summary"><span>August 31st 2012</span>By John Doe</em>
							</div>
						</li>
						<li>
							<img src="http://www.placehold.it/45x45" alt="image"/>
							<div class="post-info">
								<span class="title">Being a Programmer</span>
								<span class="discription">Lorem ipsum dolor sit...</span>
								<em class="post-summary"><span>August 31st 2012</span>By John Doe</em>
							</div>
						</li>
					</ul>
					<ul class="pagination">
						<li class="previous"><a href="#" title="previous">previous</a></li>
						<li class="next"><a href="#" title="next">next</a></li>
					</ul>
				</div>
				<div id="recent-posts">
					<h2><span>Recents Post:</span></h2>
					<ul>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
						<li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
						<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco.</li>
						<li>Laboris nisi ut aliquip ex ea commodo consequat.</li>
						<li>Duis aute irure dolor in reprehenderit in voluptate velit.</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
					</ul>
				</div>
				<div id="connect">
					<h2><span>Stay Connected:</span></h2>
					<form>
						<fieldset>
							<input type="text" placeholder="Name:"/>
							<input type="text" placeholder="Email:"/>
							<span><input type="submit" value="Submit"/></span>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
		<div class="details container">
			<p>&copy; 2012 Computational Arts Corporation</p>
			<a href="#">All Rights Reserve</a>
		</div>
	</div>
	<!-- FOOTER END -->
</body>

</html> 