
#welcome_technology
  %h1= t('g.technology')

  %h2 Software Stacks

  %p
    My technology of choice at the moment (Sept 2012) is Ruby on Rails and related. However, I have experience using other software stacks.
    Below is a detailed list categorized by tier.


  %h3 Infrastructure Providers
  %ul
    %li Amazon Web Services (AWS) - preferred provider
    %li Google App Engine
    %li Heroku
    %li Rackspace
    %li Engine Yard

  %h3 OS's
  %ul
    %li Ubuntu is my preferred server and development OS

  %h3 App Servers
  %ul
    %li Nginx
    %li Unicorn - preferred
    %li Passenger
    %li Tomcat
    %li Apache

  %h3 Application Layer Languages
  %ul
    %li PHP
    %li Ruby - preferred
    %li Python
    %li Java SE, EE

  - proc do # hidden
    %h3 Source Control
    %ul
      %li SVN
      %li Git - Github, Bitbucket

    %h3 Bug Tracking & Project Management
    %ul
      %li Jira, Confluence
      %li Trac

  %h3 Frameworks
  %ul
    %li CakePHP
    %li Rails - preferred
    %li Django
    %li Spring

  %h3 Deployment & Monitoring
  %ul
    %li Devops Chef
    %li Capistrano
    %li Nagios

  %h3 Databases
  %ul
    %li Mongodb - preferred
    %li PostgreSQL
    %li MySQL

  %h3 Load Balancers & Reverse Proxies
  %ul
    %li Nginx - preferred
    %li Apache
    %li HAproxy






