
<div class="padding">
  <h1>Clients</h1>

  <ul id="client_list">
    <li>Mediatec Publishing Inc.</li>
    <li>Veret Media</li>
    <li>Cruisewise</li>
    <li>Reduced Printing Inc.</li>
  </ul>
</div>