<div class="padding">
  <h3>Contact</h3>

  <p />We prefer to be contacted by email.

  <p />Phone: <%= image_tag 'phone.png' %>

  <p />Fax: <%= image_tag 'fax.png' %>

  <p />Email: <%= image_tag 'contact.png' %>
</div>