
<br />
<div class="width-500-center">

  <p>Computational Arts Corp. is a consulting company
    based in Chicago, New York, and San Francisco.</p>

  <p>We offer web development services on a variety of platforms: Ruby on
    Rails, Java, PHP, and Python. We specialize in building
    complex applications from scratch that answer the client`s needs and specs.</p>


  <%= image_tag('cac_large.jpg', :class => 'border-yellow') %>

  <br /><br />
  <br /><br />
  <br /><br />

</div>
