<div class="padding">

  <h3>Domains</h3>

  <ul id="domains_list">
    <li><a href="http://infiniteshelter.com">infiniteshelter.com</a></li>
    <li><a href="http://bodyseeksoul.com">bodyseeksoul.com</a></li>
    <li><a href="http://annesque.com">annesque.com</a></li>
  </ul>

  <h3>Microsites</h3>

  <p>Adjacent to each item is the price, if the domain + website is for sale.
    <a href="/contact">Contact us</a> for more information (Google analytics,
    etc) on each of the domains below, or if you would like to purchase a
    domain that is not listed for sale here.</p>

  <ul id="microsites_list">
    <li><a href="http://aidsinbrazil.com">aidsinbrasil.com</a></li>
    <li><a href="http://alfrescotutorials.com">alfrescotutorials.com</a></li>
    <li><a href="http://best-contests.com">best-contests.com</a></li>
    <li><a href="http://bestpartyphoto.com">bestpartyphotos.com</a> - $100</li>
    <li><a href="http://besttravelstory.com">besttravelstory.com</a> - $200</li>
    <li><a href="http://bodyseeksoul.com">bodyseeksoul.com</a></li>
    <li><a href="http://brasilianportuguese.com">brasilianportuguese.com</a></li>
    <li><a href="http://businessplanreview.net">businessplanreview.net</a> - $500</li>
    <li><a href="http://chicagostreetcleaningschedule.com">chicagostreetcleaningschedule.com</a></li>
    <li><a href="http://computational-linguistics.net">computational-linguistics.net</a></li>
    <li><a href="http://dailybadjokes.com">dailybadjokes.com</a></li>
    <li><a href="http://jacksofclubs.com">jacksofclubs.com</a></li>
    <li><a href="http://meditationpositions.net">meditationpositions.net</a></li>
    <li><a href="http://newshippingcontainers.org">newshippingcontainers.org</a></li>
    <li><a href="http://stdinbrazil.com">stdinbrazil.com</a></li>
    <li><a href="http://travel-options.org">travel-options.org</a></li>
    <li><a href="http://traveldiseasescure.com">traveldiseasescure.com</a></li>
    <li><a href="http://webdevzine.com">webdevzine.com</a> - $1,000</li>    
  </ul>

</div>